<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Search for..." placeholder="Search for..."
                       [(ngModel)]="searchKey">
                <span class="input-group-btn">
                    <button (click)="onSearch()" class="btn btn-secondary" type="button">Search</button>
                  </span>
            </div>
        </div>
    </div>
</div>

<div class="card result-card" *ngFor="let speech of searchResults; let i = index;">
    <div class="card-body">
        <h5>{{speech.title}}</h5>
        <p>{{speech.text}}</p>
        <small>By: {{speech.author}}</small>
        <small *ngIf="speech.date.month">Date: {{speech.date.month}}/{{speech.date.day}}/{{speech.date.year}}</small>
        <a class="pull-right" (click)="onEdit(speech.index)">Edit</a>
    </div>
</div>

